<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is title</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" media="screen and (max-width: 1326px)" href="../../static/css/phone.css">
</head>
<body>

    {{!-- ----------------------NavBar--------------------------- --}}

    {{>nav}}    {{!--  passing the partials  --}}



    <h1>This is cart page</h1>



    {{!-- ----------------------Footer--------------------------- --}}

    {{>footer}} {{!--  passing the partials  --}}

</body>
</html>