<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" media="screen and (max-width: 1326px)" href="../../static/css/phone.css">
</head>
<body>

    {{!-- ----------------------NavBar--------------------------- --}}

    {{>nav}}    {{!--  passing the partials  --}}

    <div id="slidshow">
        {{!-- slidshow stuff --}}
    </div>

    <div class="h-secondary" id="order-heading">
        <h1>Available Products</h1>
    </div>

    <div id="order">

        <a href="/redmi-prd-detail">
            <img src="../../static/img/realme.jpeg" class="mobile">
            <div>
                Lorem, ipsum dolor sit amet.
            </div>
        </a>

        <a href="/samsung-prd-detail">
            <img src="../../static/img/samsung.jpeg" class="mobile">
            <div>
                Lorem, ipsum dolor sit amet.
            </div>
        </a>

        <a href="#">
            <img src="../../static/img/vivo.jpeg" class="mobile">
            <div>
                Lorem, ipsum dolor sit amet.
            </div>
        </a>

        <a href="#">
            <img src="../../static/img/apple.jpeg" class="mobile">
            <div>
                Lorem, ipsum dolor sit amet.
            </div>
        </a>
        
        <a href="#">
            <img src="../../static/img/preadetor.jpeg" class="laptop">
            <div>
                Lorem, ipsum dolor sit amet.
            </div>
        </a>

        <a href="">
            <img src="../../static/img/hp.jpeg" class="laptop">
            <div>
                Lorem, ipsum dolor sit amet.
            </div>
        </a>

        <a href="">
            <img src="../../static/img/acer.jpeg" class="laptop">
            <div>
                Lorem, ipsum dolor sit amet.
            </div>
        </a>

        <a href="">
            <img src="../../static/img/dell.jpeg" class="laptop">
            <div>
                Lorem, ipsum dolor sit amet.
            </div>
        </a>

        <a href="">
            <img src="../../static/img/band.jpeg" class="accessories">
            <div>
                Lorem, ipsum dolor sit amet.
            </div>
        </a>

        <a href="">
            <img src="../../static/img/boat.jpeg" class="accessories">
            <div>
                Lorem, ipsum dolor sit amet.
            </div>
        </a>

        <a href="">
            <img src="../../static/img/bt headphone.jpeg" class="accessories">
            <div>
                Lorem, ipsum dolor sit amet.
            </div>
        </a>

        <a href="">
            <img src="../../static/img/headset.jpeg" class="accessories">
            <div>
                Lorem, ipsum dolor sit amet.
            </div>
        </a>

    </div>


    {{!-- ----------------------Footer--------------------------- --}}

    {{>footer}} {{!--  passing the partials  --}}

</body>
</html>