    <footer id="footer">
        <div id="copyright">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis doloribus totam officiis ullam, nobis hic aliquid maxime autem quas
            
            <p>All Right Reserved &copy;</p>
            <p>Dip n Dips Production</p>
        </div>
    </footer>