    
    <nav id="navbar">
        <div id="logo">
            <img src="../../static/img/Ecomerce.logo.jpg" alt="logo">
        </div>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#product-cont">Our Products</a></li>
            <li><a href="/about">About us</a></li>
            <li><a href="/account">Account</a></li>
            <a href="/cart"><img src="../../static/img/cart.png" alt="Bucket" ></a>
        </ul>

        <div id="search">
            <input type="search" placeholder="Search products here...">
            <button>Search</button>
        </div>
    </nav>